.notFound {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: radial-gradient(circle at top, #0f2027, #203a43, #2c5364);
  color: #e0ffe3;
  padding: 96px 80px 80px;

}


.title {
  font-size: 8rem;
  margin: 0;
  text-shadow: 0 0 10px #59e6c1;
}

.subtitle {
  font-size: 2rem;
  margin: 20px 0;
}

.highlight {
  color: #ff7f50;
}

.button {
  margin-top: 32px;
  background-color: #59e6c1;
  color: #0f2027;
  padding: 14px 32px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 1.25rem;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 0 10px #59e6c1,
  0 0 20px rgba(89, 230, 193, 0.5);
  transition: background-color 0.3s ease, color 0.3s ease;
  display: inline-block;
}

.button:hover {
  background-color: #ff7f50;
  color: #fff;
}
